@{
    ViewData["Title"] = "About Us";
}

<div class="text-center my-2">
    <h4 class="fw-bold">TENOR PROJECT MEMBERS</h4>
</div>
    
<div class="container">
    <div class="row justify-content-center mb-1">
        <!-- Member Card 1 -->
        <div class="col-md-2">
            <div class="container my-darkblue p-1 rounded-2 text-white hover-float"> 
                <div class="card-body text-center">
                    <img src="~/images/amir.jpeg" alt="Member 1" width="150" height="150" class="mx-auto d-block" />
                    <br>
                    <h4 class="fw-bold">Amir Najmi</h4>
                    <p><strong>Role - Project Leader</strong><br><p>KL2405015973</p></p>
                </div>
            </div>
        </div>
            

        <!-- Member Card 2 -->
        <div class="col-md-2">
            <div class="container my-darkblue p-1 rounded-2 text-white hover-float">
                <div class="card-body text-center">
                    <img src="~/images/aliff.jpeg" alt="Member 1" width="150" height="150" class="mx-auto d-block" />
                    <br>
                    <h4 class="fw-bold">Aliff Aiman</h4>
                    <p> <strong>Role - Developer</strong><br><p>KL2405015972</p></p>
                </div>
            </div>
        </div>

    </div>

    <!-- Description Section -->
    <div class="mt-2">
        <h5 class="fw-bold">Description :</h5>
        <p>
            We are a team of <strong>CT204 students</strong> currently enrolled in
            <strong>Web API Development (SWC333)</strong> during
            <strong>Semester 5, Intake 0524</strong>.
        
            This project is part of our course assignment with the objective of
            <strong>
                constructing a consumer Web API application by integrating a third-party public API
                into an ASP.NET Core MVC application
            </strong>.
 
            Through this assignment, we aim to:
        <ul>
            <li>Demonstrate our ability to <strong>design, implement, and consume third-party APIs</strong>.</li>
            <li>Showcase our <strong>creativity</strong> in presenting and utilizing API response data.</li>
            <li>Apply our learning of <strong>modern web technologies</strong> to build a real, functioning application.</li>
        </ul>
            This web application — integrating the <strong>Tenor GIF API</strong> — represents our commitment
            to learning how to connect real-world APIs with ASP.NET Core MVC to create interactive,
            user-friendly solutions.
        </p>
        <br>
        <br>
    </div>
</div>
 