@{
    ViewData["Title"] = "About Us";
}

<div class="text-center my-5">
    <h1 class="fw-bold">TENOR PROJECT MEMBERS</h1>
</div>

<div class="container">
    <div class="row justify-content-center mb-4">
        <!-- Member Card 1 -->
        <div class="col-md-5">
            <div class="container my-darkblue p-4 rounded-4 text-white"> 
                <div class="card-body text-center">
                    <img src="~/images/test.png" alt="Member 1" width="200" height="200" class="mx-auto d-block" />
                    <h4 class="fw-bold">Member Name 1</h4>
                    <p>Role / Short description for this member</p>
                </div>
            </div>
        </div>


        <!-- Member Card 2 -->
        <div class="col-md-5">
            <div class="container my-darkblue p-4 rounded-4 text-white">
                <div class="card-body text-center">
                    <img src="~/images/burung.jpeg" alt="Member 1" width="200" height="200" class="mx-auto d-block" />
                    <h4 class="fw-bold">Member Name 1</h4>
                    <p>Role / Short description for this member</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Description Section -->
    <div class="mt-5">
        <h5 class="fw-bold">Description :</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin at neque ut velit volutpat cursus.
            Replace this with your real group description.
        </p>
    </div>
</div>
 